/* old app Fonts 

@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/Exo2/Exo-2-Regular.eot);
    src: local('Exo 2 Regular'), local('Exo2-Regular'), local('Exo 2'), url(../assets/Exo2/Exo-2-Regular.ttf) format('truetype'), url(../assets/Exo2/Exo-2-Regular.svg#Exo2) format('svg'), url(../assets/Exo2/Exo-2-Regular.eot?#iefix) format('embedded-opentype'), url(../assets/Exo2/Exo-2-Regular.woff2) format('woff2'), url(../assets/Exo2/Exo-2-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    src: local('Exo 2 Bold'), local('Exo2-Bold'), url(../assets/Exo2/Exo-2-Bold.ttf) format('truetype'), url(../assets/Exo2/Exo-2-Bold.woff2) format('woff2'), url(../assets/Exo2/Exo-2-Bold.woff) format('woff');
}

*/

body {
    background: rgb(0, 0, 0);
    --background: rgb(0, 0, 0);
    --background: linear-gradient(140deg, rgba(0, 0,0, 1) 90%, rgb(0, 0, 0) 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 2rem;
    text-align: left;
}

*:focus,
*:hover,
*:active {
    outline: none !important;
}

.action-sheet-group {
    background: skyblue;
    /*background: linear-gradient(225deg, rgba(64,78,118,1) 1%, rgba(44,54,81,1) 99%) !important;*/
}

.action-sheet-group-cancel {
    background: rgba(44, 54, 81, 1) !important;
}

input:-internal-autofill-selected {
    background-color: transparent!important;
}

.page-intro {
    width: 100%;
    color: #000;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.75);
}

.page-intro-init {
    margin: 20px 15px;
    color: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.75);
}

.page-instructions {
    /**/
    background-color: #2C3651;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

ion-item.item-inner {
    border-bottom: 0px!important;
}

ion-item.appUserSalutation {
    border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
    background: #23476D !important;
    color: white;
    text-align: center;
    font-weight: bold;
}

.item-native {
    --background: transparent !important;
}

.highlight-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07);
}

ion-label.popup-label {
    display: block;
    position: absolute;
    top: -8px;
    left: 45px;
    overflow: visible;
    -moz-animation: fadeIn 0s ease-in 3s forwards;
    /* Firefox */
    -webkit-animation: fadeIn 0s ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: fadeIn 0s ease-in 3s forwards;
    /* Opera */
    animation: fadeIn 0s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    visibility: hidden;
    z-index: 1;
}

ion-label.popup-label span {
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes flicker {
    0% {
        opacity: 0;
    }
    10% {
        visibility: visible;
        opacity: 1;
    }
    30% {
        opacity: 0.5;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0.5;
    }
    80% {
        opacity: 1;
    }
    100% {
        visibility: 0;
        opacity: 0;
    }
}

@-webkit-keyframes flicker {
    0% {
        opacity: 0;
    }
    10% {
        visibility: visible;
        opacity: 1;
    }
    30% {
        opacity: 0.5;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0.5;
    }
    80% {
        opacity: 1;
    }
    100% {
        visibility: 0;
        opacity: 0;
    }
}

// menu start
.menu-bg,
.menu-inner {
    background: var( --ion-color-primary-shade);
    color: white;
}

span.text-white {
    color: #fff !important;
}

.menu-footer {
    background: var( --ion-color-primary-shade);
}

.menu-inner {
    height: 100%;
}

.user-profile {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    ion-list {
        background: transparent;
        padding: 0px;
    }
    ion-avatar {
        width: 100%;
        margin: 24px auto;
        height: 47px;
        text-align: center;
        img {
            width: 85%;
            max-width: 200px;
            border-radius: 0;
            object-fit: unset;
        }
    }
    .user-profile .other-data {
        border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
        background-color: #58afef;
        .column {
            background: #4d9ad5;
            padding: 6.5px 5px;
            button {
                background: transparent;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.96em;
                line-height: 1.5em;
                .ion-icon {
                    font-size: 0.96em;
                    line-height: 1.5em;
                    pointer-events: none;
                    color: var(--ion-color-secondary);
                }
            }
            &:first-child {
                border-right: 1px solid rgba(255, 255, 255, 0.2);
            }
        }
    }
}

.cs-menu {
    background: #000;
    ion-button {
        &.menu-btn {
            margin: 0px;
            height: 3rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            --border-radius: 0px !important;
            --background: transparent !important;
            --box-shadow: none;
            .ion-btton-left {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                font-size: 0.96em;
                line-height: 1.5em;
                text-transform: capitalize;
                color: var(--ion-color-tertiary-contrast);
                ion-icon {
                    font-size: 1.05em;
                }
            }
            .last {
                border-bottom: unset;
            }
        }
    }
}

// menu end