<!-- BUY BUTTON -->
<div class="backdrop">
    <div class="buyblock">
        <form>
            <div class="content">
                <div *ngIf="buyStep === 1" id="buy-step-1">
                    <div scrolly="true">
                        <!--BUY STEP 1-->
                        <h2 class=" buy-heading">Checkout Step 1 of 3</h2>
                        <ion-grid class="infoblock money-grid" no-padding>
                            <ion-row no-padding>
                                <ion-col col-5 no-padding>
                                    <span class=" ion-text-left" style="width: 100%; float: left">
                                        Wallet balance:
                                    </span>
                                    <span class=" ion-text-left mt10" style="width: 100%; float: left;">
                                        Available shares:
                                    </span>
                                </ion-col>
                                <ion-col col-7 no-padding>
                                    <span class=" ion-text-right" style="width: 100%; float: right">
                                        {{ spendableBalance | currency: 'ZAR': 'R' }}
                                    </span>
                                    <span class=" ion-text-right mt10" style="width: 100%; float: right">
                                        {{ sharesAvail | number : '1.0'}}
                                    </span>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-grid class="infoblock money-grid">
                            <ion-row no-padding>
                                <ion-col size="12">
                                    <span *ngIf="sharesToggle">
                                        <p class="" class="buyblock-info">How many shares would you like to
                                            buy?
                                        </p>
                                    </span>
                                    <span *ngIf="!sharesToggle">
                                        <p class="" class="buyblock-info">How much money would you like to
                                            invest?
                                        </p>
                                    </span>
                                </ion-col>
                            </ion-row>

                            <ion-row *ngIf="sharesToggle" class="second-row ion-align-items-center" no-padding>
                                <ion-col size="2" no-padding>
                                    <p class="shares-input-label mt50 mb0 pl5">&nbsp;</p>
                                </ion-col>
                                <ion-col size="8" no-padding>
                                    <ion-input #shares name="shares" id="shares" class="amount-input-field shares-input"
                                        type="number" [(ngModel)]="sharesAmount" (ionInput)="calcAmount()"
                                        (keyup)="checkEnterPressed($event)">
                                    </ion-input>
                                </ion-col>
                                <ion-col size="2" no-padding>
                                    <p class="shares-input-label mt50 mb0 pl5">&nbsp;</p>
                                </ion-col>
                            </ion-row>
                            <ion-row no-padding *ngIf="sharesToggle">
                                <ion-col col-12 no-padding style="text-align: center; padding: 0 !important;">
                                    <div *ngIf="!checkoutData.totalShares || !sharesAmount">
                                        <span class="small ">
                                            Number of shares
                                        </span>
                                    </div>
                                    <div *ngIf="checkoutData.totalShares">
                                        <span class="small"
                                            [ngClass]="( checkoutData.totalValue ) > spendableBalance ? 'warning': ''">
                                            You get {{ checkoutData.totalShares | number : 0 }}
                                            {{ checkoutData.totalShares > 1 ? "shares" : "share" }} <br />
                                            for {{ (checkoutData.totalValue) | currency:'ZAR': 'R' :'1.2-2' }}
                                            (fees excluded)
                                        </span>
                                    </div>
                                </ion-col>
                            </ion-row>

                            <ion-row *ngIf="!sharesToggle" class="second-row ion-align-items-center">
                                <ion-col size="2">
                                    <p class="fiat-input-label mt42 mb0 pr5" style="text-align: right;">
                                        {{ fiatdata.CurrencySymbol }}</p>
                                </ion-col>
                                <ion-col size="8">
                                    <ion-input #fiat id="fiat" name="fiat" maxlength="7"
                                        class="amount-input-field fiat-input" step="10.00" type="number"
                                        [(ngModel)]="fiatAmount" (ionInput)="calcAmount()"
                                        (keyup)="checkEnterPressed($event)">
                                    </ion-input>
                                </ion-col>
                                <ion-col size="2">
                                    <p class="fiat-input-label mt42 mb0 pr5">&nbsp;</p>
                                </ion-col>
                            </ion-row>
                            <ion-row no-padding *ngIf="!sharesToggle">
                                <ion-col col-12 no-padding style="text-align: center;  padding: 0 !important;" class="">
                                    <div *ngIf="!fiatAmount">
                                        <span class="small ">
                                            Rand amount
                                        </span>
                                    </div>
                                    <div *ngIf="fiatAmount && (!checkoutData.totalShares)">
                                        <span class="small ">
                                            Not enough to buy one share
                                        </span>
                                    </div>
                                    <div *ngIf="checkoutData.totalShares">
                                        <span class="small"
                                            [ngClass]="(checkoutData.totalValue ) > spendableBalance ? 'warning': ''">
                                            You get {{ checkoutData.totalShares | number : 0 }}
                                            {{ checkoutData.totalShares > 1 ? "shares" : "share" }} <br />
                                            for {{ ( checkoutData.totalValue ) | currency:'ZAR': 'R' :'1.2-2' }}
                                            (fees excluded)</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>

                        <ion-grid no-padding style="margin-top: 15px">
                            <ion-row no-padding>
                                <ion-col col-12 no-padding>
                                    <div class="toggle-btn buy-btn" *ngIf="!sharesToggle" (click)="toggleShareToggle()">
                                        <ion-icon name="shuffle"></ion-icon>&nbsp;&nbsp;Specify number of shares
                                    </div>

                                    <div class="toggle-btn buy-btn" *ngIf="sharesToggle" (click)="toggleShareToggle()">
                                        <ion-icon name="shuffle"></ion-icon>&nbsp;&nbsp;Specify Rand Amount
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-12>
                                    <div class="toggle-btn buy-btn" (click)="setFiatWalletBalance()">
                                        <ion-icon name="arrow-up"></ion-icon>&nbsp;&nbsp; Purchase maximum
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-button expand="full" color="tertiary" type="submit" enterkeyhint="enter"
                            (click)="nextStep(1)" style="margin: 0.75em 1em;">
                            Choose Payment Method
                            <ion-icon color="seconary" name="arrow-forward-circle-outline" slot="end"></ion-icon>
                        </ion-button>
                    </div>
                </div>

                <!--END BUY STEP 1-->
                <!--BUY STEP 2-->
                <div *ngIf="buyStep === 2" id="buy-step-2">

                    <div scrolly="true" class="scrollable-content">
                        <h2 class="buy-heading">Checkout Step 2 of 3</h2>

                        <div class="infoblock mt20 mb10">
                            <p>Please verify your purchase and select a payment method to
                                continue.</p>
                        </div>

                        <ion-grid class="infoblock" style="border: 1px solid rgba(255, 255, 255, 0.2)" no-padding>
                            <ion-row no-padding>
                                <ion-col col-12 no-padding>
                                    <p class="">My share purchase:</p>
                                </ion-col>
                            </ion-row>
                            <ion-row no-padding>
                                <ion-col col-7>
                                    <span>Holding company:</span>
                                </ion-col>
                                <ion-col col-5 style="text-align:right">
                                    <span>{{ fiatObj.SPVNAME ? fiatObj.SPVNAME : "SPV"
                                        }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row no-padding>
                                <ion-col col-7>
                                    <span>Total shares:</span>
                                </ion-col>
                                <ion-col col-5 style="text-align:right">
                                    <span>{{ checkoutData.totalShares }}</span>
                                </ion-col>
                            </ion-row>


                            <ion-row no-padding>
                                <ion-col col-7>
                                    <span>Price per share:</span>
                                </ion-col>
                                <ion-col col-5 style="text-align:right">
                                    <span>{{ sharePrice | currency:'ZAR': 'R' }}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row no-padding>
                                <ion-col col-7>
                                    <span>Instavest Fee: </span>
                                </ion-col>
                                <ion-col col-5 style="text-align:right">
                                    <span>{{ fees |
                                        currency:'ZAR': 'R' }}
                                    </span>
                                </ion-col>
                            </ion-row>

                            <ion-row no-padding style="border-top: 1px solid white">
                                <ion-col col-7>
                                    <span>Total:</span>
                                </ion-col>
                                <ion-col col-5 style="text-align:right">
                                    <span>{{ (+checkoutData.totalValue) + (+fees) | currency:'ZAR': 'R' }}</span>
                                </ion-col>
                            </ion-row>

                        </ion-grid>

                        <h3 class="buy-heading mt20">Select A Payment Method</h3>

                        <ion-button class="mt10" expand="full" color="tertiary" (click)="nextStep(1)">
                            Wallet {{ spendableBalance | currency: 'ZAR': 'R' }}
                            <ion-icon color="seconary" slot="end" name="wallet"></ion-icon>
                        </ion-button>

                        <ion-button class="mt10" expand="full" color="tertiary" (click)="nextStep('EFT')">
                            EFT
                            <ion-icon color="seconary" slot="end" name="cash"></ion-icon>
                        </ion-button>

                        <ion-button class="mt10" expand="full" color="tertiary" (click)="nextStep('OZOW')">
                            Instant EFT
                            <ion-icon color="seconary" slot="end" name="desktop"></ion-icon>
                        </ion-button>

                        <ion-button class="mt10" expand="full" color="tertiary" (click)="nextStep('PayPal')">
                            Paypal
                            <ion-icon color="seconary" slot="end" name="logo-paypal"></ion-icon>
                        </ion-button>

                        <ion-button class="mt10" expand="full" color="tertiary" *ngIf="canDoApplePay"
                            (click)="processPayment('ApplePay')">
                            Apple Pay
                            <ion-icon color="seconary" slot="end" name="logo-apple"></ion-icon>
                        </ion-button>

                        <!-- THIS NEEDS TO BE REMOVED FOR PROD -->
                        <ion-button class="mt10" expand="full" color="tertiary" (click)="processPayment('GooglePay')">
                            Google Pay
                            <ion-icon color="seconary" slot="end" name="logo-google"></ion-icon>
                        </ion-button>

                        <ion-button class="mt10" expand="full" color="tertiary" (click)="nextStep('Cryptocurrency')">
                            Cryptocurrency
                            <ion-icon color="seconary" slot="end" name="logo-bitcoin"></ion-icon>
                        </ion-button>
                    </div>
                </div>
                <!--END BUY STEP 2-->
                <!--BUY STEP 3-->
                <div *ngIf="buyStep === 3" id="buy-step-2">
                    <!--BUY STEP 2-->
                    <div scrolly="true" class="scrollable-content">
                        <h2 class="buy-heading">Checkout Step 3 of 3</h2>

                        <div class="infoblock mt20 mb10">
                            <p>Lastly, please read and check each of the following terms of sale to complete the
                                transaction.</p>
                        </div>

                        <ion-list>
                            <ion-item (click)="acceptTerms(1)" class="tc-btn">
                                <label class="tc-button-content ion-text-wrap">I have read and understood the
                                    Instavest
                                    terms of use.</label>
                                <ion-icon slot="end"
                                    [ngStyle]="termsList.terms1 ? {'color': '#ffffff' } : {'color': 'rgba(255,255,255,0.35)' } "
                                    class="tc-btn-icon" name="checkmark-circle-outline"></ion-icon>
                            </ion-item>
                            <ion-item class="ion-text-wrap" (click)="acceptTerms(2)" class="tc-btn">
                                <label class="tc-button-content ion-text-wrap">I understand that I am investing
                                    in an asset that is not under the oversight of the FSCA in South Arica and
                                    that my money
                                    may be at risk.</label>
                                <ion-icon slot="end"
                                    [ngStyle]="termsList.terms2 ? {'color': '#ffffff' } : {'color': 'rgba(255,255,255,0.35)' } "
                                    class="tc-btn-icon" name="checkmark-circle-outline"></ion-icon>
                            </ion-item>
                            <ion-item (click)="acceptTerms(3)" class="tc-btn">
                                <label class="tc-button-content ion-text-wrap">I declare that I am making this
                                    investment based on my own due diligence and that I accept any associated
                                    risk.</label>
                                <ion-icon slot="end"
                                    [ngStyle]="termsList.terms3 ? {'color': '#ffffff' } : {'color': 'rgba(255,255,255,0.35)' } "
                                    class="tc-btn-icon" name="checkmark-circle-outline"></ion-icon>
                            </ion-item>
                            <ion-item (click)="acceptTerms(4)" class="tc-btn">
                                <label class="tc-button-content ion-text-wrap">I declare that I have not been
                                    offered nor received any investment advice from Instavest Venture Capital,
                                    its
                                    shareholders, directors or employees.</label>
                                <ion-icon slot="end"
                                    [ngStyle]="termsList.terms4 ? {'color': '#ffffff' } : {'color': 'rgba(255,255,255,0.35)' } "
                                    class="tc-btn-icon" name="checkmark-circle-outline"></ion-icon>
                            </ion-item>
                            <ion-item (click)="acceptTerms(5)" lines="none">
                                <label class="tc-button-content ion-text-wrap ">I declare that I am older than
                                    18 years of age, a South African Citizen, and legally fit to
                                    enter into this agreement.</label>
                                <ion-icon slot="end"
                                    [ngStyle]="termsList.terms5 ? {'color': '#ffffff' } : {'color': 'rgba(255,255,255,0.35)' } "
                                    class="tc-btn-icon" name="checkmark-circle-outline"></ion-icon>
                            </ion-item>
                        </ion-list>
                        <ion-button expand="full" color="tertiary" type="submit" enterkeyhint="enter"
                            (click)="nextStep(0)" style="margin: 0.75em 1em;" [disabled]="!termsAllChecked">
                            Finish
                            <ion-spinner *ngIf="showLoadingSpinner" color="secondary" name="dots" slot="end">
                            </ion-spinner>
                            <ion-icon *ngIf="!showLoadingSpinner" color="light" name="arrow-forward-circle-outline"
                                slot="end"></ion-icon>
                        </ion-button>

                    </div>
                </div>
                <!--END BUY STEP 3-->
            </div>
        </form>
    </div>
</div>